@font-face {
	font-family: 'Amaranath';
	src: url('fonts/Amaranth-Regular.eot?') format('eot');
	src: local('Amaranath Regular'), url('fonts/Amaranth-Regular.woff') format('woff'), url('fonts/Amaranth-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/Ubuntu-R.eot?') format('eot');
	src: local('Ubuntu'), url('fonts/Ubuntu-R.woff') format('woff'), url('fonts/Ubuntu-R.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/OpenSans-Regular.eot?') format('eot');
	src: local('OpenSans'), local('OpenSans Regular'), url('fonts/OpenSans-Regular.woff') format('woff'), url('fonts/OpenSans-Regular.ttf') format('truetype');
}


* {
    font-family: OpenSans, Arial, sans-serif;
}

h1{
	font-family: Ubuntu, Candara, Times New Roman, serif;
}

h2, h3, h4, h5, h6{
	font-family: 'Amaranath', Ubuntu, Candara, Times New Roman, serif;
}
/*Cambria, Candara, Berlin Sans FB*/

body {
    max-width: 50em;
    margin: 0 auto;
	background-image: url('img/500px/seamlesstexture15_500.jpg');
    color: #111;
}

.content{
	padding : 12px;
	margin-top :30px;
	margin-bottom:30px;

	-webkit-box-shadow: 0 0 25px 1px #51744C;
	box-shadow: 0 0 25px 1px #51744C; /*#4B56E8;*/

	-webkit-border-radius: 10px;
	border-radius: 10px;

	background: rgb(255,253,250); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZGZhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTklIiBzdG9wLWNvbG9yPSIjZmZmYWY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODklIiBzdG9wLWNvbG9yPSIjYzljNGFiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M2YmRiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  rgba(255,253,250,1) 0%, rgba(255,250,244,1) 59%, rgba(201,196,171,1) 89%, rgba(198,189,176,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,253,250,1)), color-stop(59%,rgba(255,250,244,1)), color-stop(89%,rgba(201,196,171,1)), color-stop(100%,rgba(198,189,176,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,253,250,1) 0%,rgba(255,250,244,1) 59%,rgba(201,196,171,1) 89%,rgba(198,189,176,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,253,250,1) 0%,rgba(255,250,244,1) 59%,rgba(201,196,171,1) 89%,rgba(198,189,176,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,253,250,1) 0%,rgba(255,250,244,1) 59%,rgba(201,196,171,1) 89%,rgba(198,189,176,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(255,253,250,1) 0%,rgba(255,250,244,1) 59%,rgba(201,196,171,1) 89%,rgba(198,189,176,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdfa', endColorstr='#c6bdb0',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

header, nav, article, footer {
	width: 700px;
	margin:0 auto;
	}
article {
	margin-top: 4em;
	margin-bottom: 4em;
	min-height: 400px;
	}
footer {
	margin-bottom:50px;
	}
video {
	margin: 2em 0;
	border:1px solid #ddd;
	}

nav {
	font-size: .9em;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	padding: 1em 0;
	}
nav p {
	margin: 0;
	}

#contentsWrapper {
	position: absolute;
	top: 1.5em;
	left: -319px;
	margin-left: 0.25em;
	height: 100%;
}

#contentsWrapper.fixed {
	position: fixed;
	top: 1.5em;
}
#contentsTab
{
    position: relative;
    top: 2.25em;
    /*left: -1.45em;*/
    border-bottom: none;
    background-color: blanchedAlmond;
    color: black;
    float: left;
    margin: 0px;
    padding: 0.5em 0.5em 0.25em 0.5em;
    text-align: center;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
    -webkit-border-radius: 6px 6px 0px 0px;
       -moz-border-radius: 6px 6px 0px 0px;
            border-radius: 6px 6px 0px 0px;
}

#contents{
	position: relative;
	float: left;
	border: 2px solid #AF9EA8;
	font-size: 60%;
	padding: 0 0.5em;
	max-width: 300px;
	border-radius: .6em;
	overflow: hidden;
	background-color: snow;
	-webkit-border-radius: .6em;
	   -moz-border-radius: .6em;
                border-radius: .6em;
}

#contents div {
	margin: 10px 0;
}


/* Typography
-------------------------------------------------------- */

pre, code {
	font-family: Monaco, "Consolas", "Menlo", monospace, serif;
	font-size: .9em;
    background-color: #F8F8F8;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
	padding : 0 5px;
}

h1 {
    font-size: 45px;
    font-weight: 100;
    letter-spacing: -1px;
    margin-bottom: -5px;
	margin-top: 10px;
}
h1 code {
    font-size: 40px;
}

h2 {
    font-size: 32px;
    color: rgb(43,105,145);
    font-weight: normal;
    margin-bottom: -5px;
}
h2 code {
    font-size: 22px;
}

h3 {
    font-size: 26px;
    margin-bottom: -5px;
}
h3 code {
    font-size: 16px;
}

h4 {
    font-size: 20px;
    margin-bottom: -5px;
}
h4 code {
    font-size: 16px;
}

a {
    color: SlateBlue;
    text-decoration: none;
}
a:visited {
    color: MediumSeaGreen;
}
a:hover {
    text-decoration: underline;
}

a img {
	border:none;
	}
h1 a, h1 a:hover {
	color: #333;
	text-decoration: none;
	}

pre {
    border-width: 1px;
    border-color: #777;
    border-style: solid;
    border-radius: 10px;
    -moz-border-radius: 10px;	
    padding: 0.5em;
    /*background-color: #111;*/
    overflow: auto;
    color: #CCC;
}

pre code {
    border: none;
}

code {
	border: 1px solid #CCCCCC;
}

p, li {
    font-size: 0.9em;
    line-height: 1.2em;
}

table {
    margin-top: 1em;
    background: #f6f6f6;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th, td {
    padding: 5px 10px 5px;
}

thead {
    background: #e6e6e6;
    text-align: left;
}

th, td {
    border: 1px solid #ccc;
}

#toc h2 {
    cursor: pointer;
    border-bottom: 2px solid #AF9EA8;
    text-align: center;    
}

li.H2 {
    margin-left: 1em;
}
li.H3 {
    margin-left: 2em;
}
li.H4 {
    margin-left: 3em;
}
li.H5 {
    margin-left: 4em;
}
li.H6 {
    margin-left: 5em;
}

/* Two Column */
/* Columns don't appear to work in IE */
.col2 {
	-moz-column-count: 2; /* Firefox */
	-webkit-column-count: 2; /* Safari and Chrome */
	column-count: 2;

	-moz-column-gap: 3em; /* Firefox */
	-webkit-column-gap: 3em; /* Safari and Chrome */
	column-gap: 3em;

	-moz-column-rule: 1px outset #000; /* Firefox */
	-webkit-column-rule: 1px outset #000; /* Safari and Chrome */
	column-rule: 1px outset #000;
}

/* span h1, h2, and hr across all columns
      said not to work in firefox or IE   */
h1, h2, hr {
	-webkit-column-span: all; /* Chrome */
	-moz-column-span: all;
	column-span: all;
}

/* Elements copied from CamenDesign.com  -  http://camendesign.com/design/  */
/* 76px = 5.846em  
   72px = 5.538em
   64px = 4.923em
    45px = 3.462em
    40px = 3em (3.077em)
	38px = 2.923em
	24px = 1.846em
    19px = 1.462em
    16px = 1.231em	*/
/* --- quotes ----------------------------------------------------------------------------------------------------------- */
q				{font-style: italic;}

blockquote			{position: relative; margin: 24px 40px 0px;
				 font: 90% Baskerville, Georgia, serif; color: #666;   background: #f9f9f9;
  padding: 0.5em 10px;
}
blockquote:before,		/* large quotes, top and bottom */
 blockquote:after		{display: block; height: 38px; overflow: hidden;
				 font: 400% "Baskerville Old Face", Georgia, serif;}
blockquote:before		{content: "\201C"; margin-left: -40px; margin-bottom: -40px; line-height: 64px;}
blockquote:after		{content: "\201D"; float: right; margin-top: -45px; margin-right: -40px;
				 /* compatibility with Firefox 3.0 / Camino 2: */
				 padding-left: 10px; margin-left: 100%;}

blockquote>p+p			{text-indent: 0;}
blockquote>cite			{display: block; margin-bottom: 19px; font-size: 100%;}
blockquote>cite:last-child	{text-align: right;}

/* --- typographical flourishes ----------------------------------------------------------------------------------------- */
/* drop cap */
article>section:first-of-type
 >p:first-of-type:first-letter,
 hr+p:first-letter		{display: block; float: left; padding: 8px 2px 0 0;
				 font: 3em/1.846em Baskerville, "Times New Roman", serif;}

/* === white space ====================================================================================================== */
/* some typographical / vertical space adjustments for prettiness */

/* if an image is first in an article, increase the space below,
   e.g. <camendesign.com/code/uth7_floaty-abbrs> */
section>h1+img			{margin-bottom: 38px;}

/* don’t double-space with headings */
h1+h2, h2+h3, hr+h2, hr+h3,
 dl+h2, dl+h3, img+h2, img+h3	{padding-top: 0;}

/* odd spacing cases with `<hr />` */
dl+hr				{margin-top: -1.462em;}
section, figure			{/* required to get the diamond to inherit a background */
				 background-color: white;}
				 
/* iPad
-------------------------------------------------------- */
@media only screen and (max-device-width: 1024px) {
body {
	font-size: 120%;
	line-height: 1.4;
	}
} /* @iPad */

/* iPhone
-------------------------------------------------------- */
@media only screen and (max-device-width: 480px) {
body {
	text-align: left;
	}
article, footer {
	width: auto;
	}
article {
	padding: 0 10px;
	}
#contents {
	display: none;
	}
} /* @iPhone */

/* Printing
-------------------------------------------------------- */
@media print {
body {
    background: white;
	color: black;
	width: 100%;
	margin: 0;
	float: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 10pt;
}
a :link, a:visited{
	color: #000000;
	text-decoration: underline;
	background: transparent;
}
span.gc-cs-link {  /* If Google Voice extention is installed in Chrome */
	color: #000000;
	text-decoration: none;
	background: transparent;
}
tr, td, th {
	page-break-inside: avoid
}
thead {
	display:table-header-group
}
.no-print, #contents {
	visibility: hidden;
	display: none;
}
} /* Printing */
